.row img{
    min-width: 100%;
    min-height: 100%;
}

a
{
    color: rgba(255,255,255,.5);
}

a:hover {
    color: rgba(255,255,255,.5);
}

#quiz_link {
  color: black;
}

#tic_tac_toe_link {
  color: black;
}

#cv_link {
  color: black;
}

#transcript_link {
  color: black;
}

#mc_link {
  color: black;
}

#gh_link {
  color: black;
}

#li_link {
  color: black;
}


#connect_four_link {
  color: black;
}

/* *{
  font-family: "Times New Roman", Times, serif;
} */
