.row img{
    min-width: 100%;
    min-height: 100%;
}

a
{
    color: rgba(255,255,255,.5);
}

a:hover {
    color: rgba(255,255,255,.5);
}

#quiz_link {
  color: black;
}

#tic_tac_toe_link {
  color: black;
}

#connect_four_link {
  color: black;
}
