.board td{
    border: 5px solid black;
    width:  100px;
    height: 100px;
}

.board button{
    background-color: white;
    font-size: 3em;
    width:  100px;
    height: 85px; /* Height of button slightly less than td to eliminate button shrinking effect when clicked */
    border: 0px; /* Ensures there is no border between the button and the td*/
    padding: 0px; /* Ensures text is centred on mobile */
}

.board button:focus { /* Removes the border effect when button clicked */
    outline: none;
}

#btnRestart{
    height: 60px;
    background-color: black;
}

#turn{
    font-size: 2em;
}
