.board td{
    font-size: 5em;
    text-align: center;
    width: 150px;
    height: 150px;
    border: 5px solid black;
}

tr{
    border: 5px solid black;
}

#btnRestart{
    height: 60px;
    background-color: black;
}
